* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    color: #394b50;
}

.mg-left-20 {
    margin-left: 20px;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}